/* Theme Color */

.pricing-block .price-box .price,
.load-more-option .next a:hover,
.load-more-option .prev a:hover,
.gallery-detail .info-column .info-list .icon,
.gallery-block-two .content-box .icon-box a:hover,
.gallery-block-two .content-box h4 a,
.apppointment-page .info-box .follow-us ul li a:hover,
.appointment-form-two .radio-option input[type="radio"]:checked+label,
.gallery-block .content-box h4 a,
.sec-title .title,
.service-sidebar .link-box .icon,
.about-us .title,
.main-slider .title,
.consult-box .theme-btn,
.service-cat-list li.active a,
.service-cat-list li a:hover,
.testimonial-block .name,
.about-us .feature-list li:before,
.service-cat-list li a:hover:before,
.service-cat-list li.active a::before,
.main-header .header-top .top-left ul li a:hover,
.main-header .header-top .top-left ul li i,
.cart-section .totals-table .col:last-child,
.shipping-block .inner-box h3,
.page-title .bread-crumb li a,
.about-us .feature-list li a:hover,
.service-block .icon-box,
.service-block .lower-content h3 a:hover,
.services-list li:hover .icon,
.services-list li h3 a:hover,
.fluid-section-one .content-column .inner-column .choose-info li:hover h4 a,
.pricing-table .price,
.accordion-box .block .acc-btn.active,
.accordion-box .block .acc-btn.active .icon-outer .icon,
.contact-section .heading .title,
.social-icon-one li a:hover,
.main-footer .links-widget .list li:before,
.main-footer .contact-list li a:hover,
.sidebar .related-posts .post a:hover,
.product-details .basic-details .item-price,
.product-details .basic-details .rating,
.product-info-tabs .prod-tabs .reviews-container .rating,
.product-info-tabs .prod-tabs .add-review .rating .rate-box:hover,
.product-info-tabs .prod-tabs .add-review .rating .rate-box:focus,
.product-info-tabs .prod-tabs .add-review .rating .rate-box:active,
.gallery-section-two .mixitup-gallery .filters li.active,
.counter-column .icon,
.author-box .social-icons li a:hover,
.gift-block .info-box .link-box a:hover,
.gift-block .info-box h4 a:hover,
.feature-block .content-box .read-more,
.separator,
.blockquote .content-column .info span,
.consult-box>span,
.service-sidebar .link-box a:hover,
.subscribe-form .form-group input[type="submit"],
.subscribe-form .form-group button,
.order-box ul li span,
.feature-block .content-box .price span,
.header-style-two .main-menu .navigation>li.current>a,
.header-style-two .main-menu .navigation>li>a:hover,
.main-menu .navigation>li:hover>a,
.main-menu .navigation>li.current>a,
.main-menu .navigation>li.current-menu-item>a,
.products-tabs .link-box a,
.subscribe-section .contact-info li,
.btn-style-one:hover,
.blog-detail .post-share-options .social-icon li a:hover,
.header-style-two .header-top .top-right .email a:hover,
.subscribe-section .contact-info li a:hover,
.popular-posts .post .date,
.products-tabs .title,
.sidebar .related-posts .rating span,
.products-tabs .name a:hover,
.shop-comment-form .rating-box .rating a:hover,
.products-tabs .rating a:hover,
.products-tabs .price,
.packeges-tabs .price-column ul li:before,
.checkout-page .default-links li .fa,
.checkout-page .default-links li a:hover,
.cart-table tbody tr .remove-btn:hover,
.list-style-two li .icon,
.comments-area .comment-box .rating span,
.shop-item .lower-content h3 a:hover,
.shop-item .lower-content .price,
.shop-item .lower-content .rating,
.btn-style-five:hover,
.btn-style-five:hover i,
.comment-form .rating ul li a,
.main-header .search-panel .search-btn:hover,
.sort-by .ui-button .ui-icon,
.news-block .lower-content h3 a:hover,
.scroll-to-top,
.contact-page-section .contact-info li a:hover,
.btn-style-six:hover,
.btn-style-six i,
.procedure-block h3 a,
.category-list li a:hover span,
.news-block .lower-content .btn-box a,
.news-block .lower-content .info li a:hover,
.contact-form-two .title,
.category-list li a:hover,
.contact-page-section .contact-info li .icon,
.main-footer .footer-bottom .link-box a,
.policy-section .banner-box span,
.list-style-one li:before,
.map-data h6,
.theme_color,
a {
    color: #88af0c;
}

/*Background Color*/

.payment-box .payment-options li .radio-option label .small-text,
.consult-box .theme-btn:hover,
.main-header .header-top .link-box a,
.btn-style-five:hover i,
.contact-section .map-column .info-box,
.pricing-block .price-box .theme-btn:hover,
.packeges-tabs .tab-buttons li.active-btn,
.packeges-tabs .tab-buttons li:hover,
.main-footer .footer-column .widget-title:before,
.main-footer .gallery-widget .image a:before,
.gallery-widget .gallery-outer .image a:before,
.popular-posts .post-thumb:before,
.sidebar-page-container .sidebar-title:before,
.main-footer.style-two .footer-bottom,
.tag-list li a:hover,
.main-header .header-top .link-box a,
.sidebar-widget .range-slider-one .ui-state-default,
.sidebar-widget .range-slider-one .ui-widget-content .ui-state-default,
.sponsors-carousel .owl-prev:hover,
.sponsors-carousel .owl-next:hover,
.gallery-detail .owl-dots .owl-dot.active,
.gallery-detail .owl-dots .owl-dot:hover,
.subscribe-form .form-group input[type="submit"]:hover,
.subscribe-form .form-group button:hover,
.ui-state-hover,
.shop-item .overlay-box .cart-btn:hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover,
.ui-timepicker-standard .ui-state-hover,
.appointment-section .content-column .text:before,
.features-carousel .owl-prev:hover,
.features-carousel .owl-next:hover,
.styled-pagination li a:hover,
.styled-pagination li a.active,
.page-title .bread-crumb li:before,
.procedure-block:hover,
.blog-detail .post-share-options .tags a:hover,
.service-block .lower-content:before,
.team-block .image-box .social-links li a:hover,
.mixitup-gallery .filters li:before,
.appointment-form,
.gallery-section-two .mixitup-gallery .filters li:before,
.pricing-table .theme-btn:hover i,
.testimonial-carousel .owl-prev:hover,
.header-style-two .nav-outer .link-box a,
.contact-section .heading p:before,
.testimonial-carousel .owl-next:hover,
.header-style-two .header-upper .cart-btn a .count,
.main-header .sticky-header .main-menu .navigation>li:hover>a,
.main-header .sticky-header .main-menu .navigation>li.current>a,
.main-header .sticky-header .main-menu .navigation>li.current-menu-item>a,
.header-style-two .search-box .form-group input[type="submit"],
.header-style-two .search-box .form-group button,
.sidebar .search-box .form-group button,
.cart-table .cart-header,
.news-block .image-box .tag,
.btn-style-five,
.main-menu .navigation>li>ul>li>ul>li>a:hover,
.main-header .language .dropdown-menu>li>a:hover,
.main-header .cart-btn a:hover,
.main-header .search-btn:hover,
.main-menu .navigation>li>ul>li:hover>a,
.scroll-to-top:hover,
.btn-style-six:hover i,
.btn-style-four,
.btn-style-two:hover,
.btn-style-two i,
.btn-style-one:hover i {
    background-color: #88af0c;
}

/*Border Color*/

.load-more-option .next a:hover,
.load-more-option .prev a:hover,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover,
.service-sidebar .link-box:hover,
.consult-box .theme-btn,
.service-cat-list li.active a,
.service-cat-list li a:hover,
.contact-page-section .contact-info li .icon,
.login-form .form-group input[type="text"]:focus,
.login-form .form-group input[type="password"]:focus,
.login-form .form-group input[type="tel"]:focus,
.login-form .form-group input[type="email"]:focus,
.login-form .form-group select:focus,
.login-form .form-group textarea:focus,
.shipping-form .form-group input[type="text"]:focus,
.shipping-form .form-group input[type="password"]:focus,
.shipping-form .form-group input[type="tel"]:focus,
.shipping-form .form-group input[type="email"]:focus,
.shipping-form .form-group select:focus,
.shipping-form .form-group textarea:focus,
.product-info-tabs .prod-tabs .add-review .form-group textarea:focus,
.product-info-tabs .prod-tabs .add-review .form-group input:focus,
.product-info-tabs .prod-tabs .add-review .form-group select:focus,
.checkout-form input:focus,
.checkout-form select:focus,
.checkout-form textarea:focus,
.tag-list li a:hover,
.shop-comment-form .form-group input[type="text"]:focus,
.shop-comment-form .form-group input[type="password"]:focus,
.shop-comment-form .form-group input[type="tel"]:focus,
.shop-comment-form .form-group input[type="email"]:focus,
.shop-comment-form .form-group select:focus,
.shop-comment-form .form-group textarea:focus,
.sidebar .search-box .form-group input:focus,
.contact-form-two .form-group input:focus,
.contact-form-two .form-group select:focus,
.contact-form-two .form-group textarea:focus,
.sponsors-carousel .owl-prev:hover,
.sponsors-carousel .owl-next:hover,
.subscribe-form .form-group input[type="text"]:focus,
.subscribe-form .form-group input[type="email"]:focus,
.appointment-form-two input:focus,
.appointment-form-two select:focus,
.appointment-form-two textarea:focus,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus,
.ui-timepicker-standard .ui-state-hover,
.features-carousel .owl-prev:hover,
.features-carousel .owl-next:hover,
.comment-form .form-group input:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.testimonial-carousel .owl-prev:hover,
.services-carousel .owl-dots .owl-dot,
.testimonial-carousel .owl-next:hover,
.pricing-table .inner-box:hover,
.gift-block .inner-box:hover .image-box,
.team-block .image-box .social-links li a:hover,
.styled-pagination li a:hover,
.styled-pagination li a.active,
.header-style-two .search-box .form-group input[type="text"]:focus,
.header-style-two .search-box .form-group input[type="search"]:focus,
.main-header .search-panel input:focus,
.main-header .search-panel select:focus,
.btn-style-five:hover i,
.btn-style-six:hover i,
.btn-style-five {
    border-color: #88af0c;
}

.main-header .language .dropdown-menu,
.main-menu .navigation>li>ul>li>ul,
.main-menu .navigation>li>ul,
.main-header .dropdown-menu {
    border-top-color: #88af0c;
}

.payment-box .payment-options li .radio-option label .small-text:before {
    border-bottom-color: #88af0c;
}

.shop-item .overlay-box {
    background-color: rgba(136, 175, 12, .80);
}

@media only screen and (max-width: 767px) {
    .main-menu .navbar-header .navbar-toggle {
        border-color: #88af0c;
    }
    .main-menu .navbar-header .navbar-toggle,
    .main-menu .navbar-collapse>.navigation,
    .main-menu .navbar-collapse>.navigation>li>ul,
    .main-menu .navbar-collapse>.navigation>li>ul>li>ul,
    .main-menu .navbar-collapse>.navigation>li>a,
    .main-menu .navbar-collapse>.navigation>li>ul>li>a,
    .main-menu .navbar-collapse>.navigation>li>ul>li>ul>li>a,
    .main-menu .navbar-collapse>.navigation>li>a:hover,
    .main-menu .navbar-collapse>.navigation>li>a:active,
    .main-menu .navbar-collapse>.navigation>li>a:focus,
    .main-menu .navbar-collapse>.navigation>li:hover>a,
    .main-menu .navbar-collapse>.navigation>li>ul>li:hover>a,
    .main-menu .navbar-collapse>.navigation>li>ul>li>ul>li:hover>a,
    .main-menu .navbar-collapse>.navigation>li.current>a,
    .main-menu .navbar-collapse>.navigation>li.current-menu-item>a,
    .header-style-two.inner-header .main-menu .navigation>li>a {
        background-color: #88af0c;
    }
}